* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: #555;
  background: #fafbff;
}
a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

@keyframes down {
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes left {
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes right {
  to {
    right: 0;
    opacity: 1;
  }
}

.index{
  padding-bottom: 100px;
}
code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
